body{
    background-color: rgb(0, 0, 0);
    background-image: url(../resources/deco1.png);
    backdrop-filter: blur(10px);

    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}



.contenedorPrincipal{
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.425);

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorSecundario{
    width: 90vw;
    height: 90vh;

    background-color: rgb(0, 0, 0);
    border-radius: 10px;

    box-shadow: 0px 0px 90px 2px white;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 10%;

    border-radius: 10px;
}

.titulo h1{
    color: rgb(255, 255, 255);
    font-size: 3em;
}

.contenido{
    width: 90%;
    height: 80%;

    background-color: rgba(0, 255, 255, 0);

    position: absolute;
    bottom: 5%;

    overflow-y: scroll;

    border-radius: 10px;
}

.contenido::-webkit-scrollbar {
    width: 7px;             
}
  
.contenido::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);      
}
  
.contenido::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);   
    border-radius: 20px;     
    border: 3px solid rgb(0, 0, 0); 
}

.imagen{
    width: 100%;
}
